:root {
    --dark-bg: #1a1a1a;
    --light-bg: #4d4d4d;
    --white: #f2f2f2;
    --accent-dark: #004099;
    --accent-light: #3388ff;
    --title-font: "Racing Sans One", serif;
    --body-font: "Mozilla Text", serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--dark-bg);
    font-family: var(--body-font);
    color: var(--white);
}

nav {
    display: flex;
    background-color: var(--accent-dark);
    height: 5vw;
    border-bottom: 2px solid var(--dark-bg);
}

.nav-link {
    width: 100%;
    color: var(--white);
    text-decoration: none;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 2px solid var(--dark-bg);
}

.nav-link:hover {
    box-shadow: inset 0 0 2rem var(--dark-bg);
}

.hero {
    position: relative;
}

.hero img {
    max-width: 100%;
}

.hero h1 {
    font-family: var(--title-font);
    font-size: 4vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.hero h2 {
    position: absolute;
    font-size: 2vw;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    background-color: var(--accent-dark);
}

footer p {
    margin: 0;
}