:root {
    --dark-bg: #1a1a1a;
    --light-bg: #4d4d4d;
    --white: #f2f2f2;
    --accent-dark: #004099;
    --accent-light: #3388ff;
    --title-font: "Racing Sans One", serif;
    --body-font: "Mozilla Text", serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--dark-bg);
    font-family: var(--body-font);
    color: var(--white);
}

nav {
    display: flex;
    background-color: var(--accent-dark);
    height: 5vw;
    border-bottom: 2px solid var(--dark-bg);
}

.nav-link {
    width: 100%;
    color: var(--white);
    text-decoration: none;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-right: 2px solid var(--dark-bg);
}

.nav-link:hover {
    box-shadow: inset 0 0 2rem var(--dark-bg);
}

.hero {
    position: relative;
}

.hero img {
    max-width: 100%;
}

.hero h1 {
    font-family: var(--title-font);
    font-size: 4vw;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.hero h2 {
    position: absolute;
    font-size: 2vw;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
}

.card-container {
    display: flex;
    padding: 4rem;
    justify-content: space-evenly;
    gap: 5vw;
    flex-wrap: wrap;
}

.card {
    width: 30rem;
    max-height: fit-content;
    text-align: center;
    background-color: var(--light-bg);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2rem 1fr;
    gap: 1rem;
    border-radius: 1rem;
    border: 3px solid var(--accent-light);
}

.card h3 {
    margin: 0;
    grid-area: 1/2/2/3;
}

.card img{
    max-width: 100%;
    margin: auto 0;
    border-radius: 1rem;
    grid-area: 1/1/3/2;
}

.card p {
    grid-area: 2/2/3/3;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vw;
    font-size: min(2vw, 1rem);
    background-color: var(--accent-dark);
}

footer p {
    margin: 0;
}

@media (max-width: 600px) {
    .card {
        grid-template-columns: 1fr;
        grid-template-rows: 2rem 1fr 3rem;
    }

    .card img {
        width: 35vw;
        margin: 0 auto;
    }

    .card h3 {
    grid-area: 1/1/2/2;
    margin: auto 0;
    font-size: 5vw;
    }

    .card img{
    grid-area: 2/1/3/2;
    }

    .card p {
    grid-area: 3/1/4/2;
    height: fit-content;
    font-size: 2vw;
    }
}